body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

input {
}

#displayOrder {
    width: 40px;
}

.image {
    width: fit-content;
    height: fit-content;
    border: crimson dashed 1px;
}

img {
    width: 300px;
    height: auto;
}